$breakpoints: (
  'mobile': 767px,    // ≤767px (iPhone)
  'tablet': 1023px,   // 768-1023px (iPad/Surface)
  'desktop': 1024px   // ≥1024px (PC)
);

@mixin responsive($breakpoint) {
  @if not map.has-key($breakpoints, $breakpoint) {
    @warn "Invalid breakpoint `#{$breakpoint}`。usable value: #{map-keys($breakpoints)}";
  }
  $value: map.get($breakpoints, $breakpoint);
  @if $breakpoint == 'mobile' {
    @media (max-width: $value) { @content; }
  }
  @else if $breakpoint == 'tablet' {
    @media (min-width: 768px) and (max-width: $value) { @content; }
  }
  @else if $breakpoint == 'desktop' {
    @media (min-width: $value) { @content; }
  }
}

@mixin scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar { width: 2px; height: 6px }
  &::-webkit-scrollbar-thumb { background: #999999; border-radius: 6px }
  &::-webkit-scrollbar-track { background: transparent }
}

.w-full { width: 100%; }
.h-full { height: 100%; }
.text-center { text-align: center; }
.text-red { color: #FC4870; }
.text-warning { color: #E6A23C; }
.text-white { color: #FFFFFF; }
.cursor-pointer { cursor: pointer; }